node_modules
wallpaper/lock.png
fonts/operator-mono-cufonfonts/.uuid
config/terminator/plugins/terminator-themes.py
config/terminator/plugins/terminator-themes.pyc
polybar

dn2.yoursole.com
scripts/YourSole
